@{
    ViewData["Title"] = "Home Page";
}

<h1 class="centered-header">Put First Things First</h1>

<div class="Container">
    <div class="row">
        <div class="col">
            <img src="~/img/adobestock_76029922-1080x675.jpeg" width="300" height="200" />
        </div>
        <div class="col">
            <img src="~/img/family_portrait.jpg" width="300" height="200" />
        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col">
            <img src="~/img/macbook-air-on-desk.jpg" width="300" height="200" />
        </div>
        <div class="col">
            <img src="~/img/salt_lake_temple_lds.webp" width="300" height="200" />
        </div>
    </div>
</div>

<a asp-area="" asp-controller="Home" asp-action="Tasks">
    Add a Task Today!
</a>