@{
    ViewData["Title"] = "Task";
}

<div class="container">

    <div class="row">
        <div class="col">
            <label>What is the task?</label>
            <br />
            <input type="string" />
        </div>
        <div class="col">
            <label>When is the task due?</label>
            <br />
            <input type="date" />
            <br />
        </div>
        <div class="col">
            <label>Which column (1-4)?</label>
            <br />
            <input type="number" />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Which Category?</label>
            <br />
            <select id="cars" name="cars">
                <option value="Home">Home</option>
                <option value="School">School</option>
                <option value="Work">Work</option>
                <option value="Church">Church</option>
            </select>
            <br />
        </div>
        <div class="col">
            <label>Which Category?</label>
            <br />
            <select id="cars" name="cars">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
            <br />
        </div>
        <div class="col"></div>
    </div>
    <div class="row"></div>

</div>
